body {
    font-family: Arial;
    text-align: center;
    background: #f4f4f4;
}

.form input {
    margin: 5px;
    padding: 10px;
}

button {
    padding: 10px;
    cursor: pointer;
}

.card {
    width: 200px;
    height: 120px;
    margin: 20px auto;
    background: white;
    border-radius: 10px;
    box-shadow: 0 0 10px gray;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}